body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}






@charset "UTF-8";
/* Variables
-------------------------------------------------------------- */
/* Body and Notice styling
-------------------------------------------------------------- */
body {
  color: #b6b5ca;
  font-family: 'Arial', sans-serif;
  margin: 0;
  text-align: center;
}

h5 {
  font-weight: 400;
  padding: 0 20px;
}

.tic-tac-toe {
    display: flex;
    flex-wrap: wrap;
    align-items     : center;
    justify-content : center;
    flex-wrap       : wrap;
    align-content   : center;
    margin: 0 auto;
    width: 50%;
}

.square {
    background-color: #78bec5;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
    display: flex;
    font-size: 3em;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    height: 90px;
    margin: 5px;
    width: 90px;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.square.selected {
}

.square.selected-o {
    background-color: #3d4250;
}

.square.selected-o > span:after {
    content: 'O';
}

.square.turn-o:hover span:after {
    content: 'O';
}

.square.selected-x {
    background-color: darkmagenta;
}

.square.selected-x > span:after {
    content: 'X';
}

.square.turn-x:hover span:after {
    content: 'X';
}

.row {
    display: flex;
    flex-direction: row;
}

@media (min-width: 450px) {
  .square {
    height: 140px;
    width: 140px;
  }
}
.square:hover {
  background-color: #3d4250;
}
.square:hover:after {
  opacity: .4;
}
.square:after {
  left: 0;
  font-family: "FontAwesome";
  font-size: 45px;
  margin-top: -22.5px;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  top: 50%;
  width: 100%;
}
@media (min-width: 450px) {
  .square:after {
    font-size: 70px;
    margin-top: -35px;
  }
}