
<div class="tic-tac-toe">
    <div class="row">
        <div id="0" class="square">
            <span class="value"></span>
        </div>
        <div id="1" class="square">
            <span class="value"></span>
        </div>
        <div id="2" class="square">
            <span class="value"></span>
        </div>
    </div>
    <div class="row">
        <div id="3" class="square">
            <span class="value"></span>
        </div>
        <div id="4" class="square">
            <span class="value"></span>
        </div>
        <div id="5" class="square">
            <span class="value"></span>
        </div>
    </div>
    <div class="row">
        <div id="6" class="square">
            <span class="value"></span>
        </div>
        <div id="7" class="square">
            <span class="value"></span>
        </div>
        <div id="8" class="square">
            <span class="value"></span>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="http://localhost:3176/signalr/hubs"></script>
    <script>
        $(function () {

            var ticTacBro = $.connection.ticTacHub;
            ticTacBro.client.updateBoard = function (index, state) {
                var square = document.getElementById(index);
                square.classList.add('selected');

                if (state == 1)
                    square.classList.add('selected-o');
                else if (state == 2)
                    square.classList.add('selected-x');
            };
            
            ticTacBro.client.initializeBoard = function (boardStates) {

                [].forEach.call(document.getElementsByClassName('selected'), function (square) {
                    square.classList.remove('selected');
                });

                [].forEach.call(document.getElementsByClassName('selected-o'), function (square) {
                    square.classList.remove('selected-o');
                });

                [].forEach.call(document.getElementsByClassName('selected-x'), function (square) {
                    square.classList.remove('selected-x');
                });

                boardStates.forEach(function (square, index) {
                    var element = document.getElementById(index);
                    if (!element.classList.contains('selected') && square !== 0) {
                        element.classList.add('selected');

                        if (square == 1)
                            element.classList.add('selected-o');
                        else if (square == 2)
                            element.classList.add('selected-x');
                    }
                });                
            };

            ticTacBro.client.updateGameStatus = function (state) {
                if (state == 1)
                    confirm('O Has Won the Game');
                else if (state == 2)
                    alert('X Has Won the Game');
                else if (state == 3)
                    alert('A Tie has occured');

                ticTacBro.server.newGame();
            };

            $.connection.hub.start().done(function () {
                ticTacBro.server.startGame();

                [].forEach.call(document.getElementsByClassName('square'), function (square) {
                    square.addEventListener("click", function () {
                        //var classList = this.classList;
                        //if (!classList.contains('selected'))
                        //    this.classList.add('selected');

                        ticTacBro.server.yourTurnBro(this.id);
                    });
                });
            });
        });

    </script>
}